.idea/
.vscode/
.hypothesis/
__pycache__/
exp/
Temp/
cache/
**/.venv/

wandb/
*.pth
*.pkl
*.json
*.rrd
*.png

Draft/
Results/
Results
Model/
Model

# Config Local (specific to the platform etc.) are not shared
**/local_*
Config/**/_*.yaml
Config/**/**/_*.yaml
meta/

# For SLURM cluster
SLURM/
main.sh
SLURM.sh

# For Notion Logging
**/secret.txt
./*.ipynb
.trunk/

**/.DS_Store
.pytest_cache/

!Scripts/UnitTest/assets/**/*.png

**/_*
!**/__init__.py
!**/__init__.pyi
!**/__main__.py
!**/__main__.pyi
